<!doctype html>
<html>
{% include head.html %}
  <body class="page--styleguide">
    <header class="app-bar promote-layer theme--performance themed--background">
      <div class="app-bar-container">
        <button class="menu"><img src="{{ "/static/img/hamburger.svg" | prepend: site.baseurl }}" alt="Menu"></button>
        <h1 class="logo"><a href="/">{{ site.title }}</a></h1>
        
      </div>
    </header>

    <nav class="navdrawer-container promote-layer">
      <h4>Navigation</h4>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/about/">about</a></li>
        <li><a href="/portfolio/">portfolio</a></li>
        <li><a href="/essays/">essays</a></li>
        <li><a href="/contact/">contact</a></li>
      </ul>
    </nav>

    <main>
      <h1 id="hello">{{ page.h1 }}</h1>
      {{ content }}
    </main>

    <!-- build:js scripts/main.min.js -->
    <script src="{{ "/static/js/main.js" | prepend: site.baseurl }}"></script>
    <!-- endbuild -->
    <!-- Built with love using Web Starter Kit -->
    {% include footer.html %}
  </body>
</html>
